body.resume-page {
    font-family: 'Source Serif 4', serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

.resume-page h1, .resume-page h2, .resume-page .brand {
    font-family: 'Marcellus', serif;
}

.resume-header {
    border-bottom: 4px solid #e03a3e;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 5%;
}

.brand {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin: 0;
    line-height: 1.1;
}

.resume-main {
    max-width: 1200px;
    margin: 15px auto 40px auto;
    padding: 0 5%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 60px;
}

.article-meta { 
    font-size: 1rem; 
    color: #111; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.article-title { 
    font-size: 2.2rem;
    margin-bottom: 20px; 
    line-height: 1.3;
}

.authors, .journal-info { 
    margin-bottom: 15px; 
    font-size: 1.05rem; 
}

.authors a, .journal-info a{
    color: #0072b3;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.content-section { 
    margin-top: 40px; 
    scroll-margin-top: 90px;
}

.content-section h2 { 
    font-size: 1.6rem; 
    margin-bottom: 15px; 
}

.section-divider { 
    border: 0; 
    height: 1px; 
    background: #dcdcdc;
    margin-bottom: 20px; 
}